{% extends "base.html" %}

{% block extra_scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.load("jquery", "1.6.4");
      google.load("jqueryui", "1.8.16");
      google.setOnLoadCallback(drawChart);
      function drawChart()
      {
        var data = new google.visualization.DataTable();
        data.addColumn("string", "Date");
        data.addColumn("number", "% Billable");
        data.addRows([
          {% for d in billable_data %}["{{ d.0 }}", {{ d.1 }}]{% if not loop.last %},{% endif %}{% endfor %}
        ]);

        chart = new google.visualization.LineChart(document.getElementById('billable_chart_div'));
        chart.draw(data, {height: 200, title: 'Billable Percentage by Day'});

        var data2 = new google.visualization.DataTable();
        data2.addColumn("string", "Date");
        data2.addColumn("number", "Total Hours Ticked");
        {% for client in client_list %}
          data2.addColumn("number", "{{ client.0 }}");
        {% endfor %}
        data2.addRows([
          {% for row in client_by_day %}
            {{ row|safe }}{% if not loop.last %},{% endif %}
          {% endfor %}
        ]);
        chart2 = new google.visualization.LineChart(document.getElementById('by_client_chart_div'));
        chart2.draw(data2, {height: 600, title: 'Project Time Allocation by Day', series:{ 0: {type: 'bars', color: '#CCCCCC'}}, vAxis: {baseline: 8}});


        $("#start_id").datepicker({
          dateFormat: "yy-mm-dd"
        });
        $("#end_id").datepicker({
          dateFormat: "yy-mm-dd"
        });
        {% for p in project %}
          $("#{{ p|md5 }}_id").prop('checked', true);
        {% endfor %}
      }
      function filterToggle(){
        $("#detail_filter").toggle();
        $("#show_filters").toggle();
      }
    </script>
{% endblock %}
{% block styles %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-darkness/jquery-ui.css" />
  <style type="text/css">
    div.content {
      width: 100%;
    }
    div#lede {
      text-align: center;
    }
    div#lede form {
      width: 400px;
      margin: 0 auto;
    }
    ul.client_selection {
      text-align: left;
      margin-left: 40px;
    }
    ul.client_selection li {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block content %}
    <a href="/">&rarr; Home</a>
    <div id="lede">
      <a href="#" id="show_filters" onclick="filterToggle()">Show Filters</a>
      <form method="GET" id="detail_filter" style="display: none;">
        <input type="date" name="start" id="start_id" value="{{ start }}" />
        <input type="date" name="end" id="end_id" value="{{ end }}" />
        <ul class="client_selection">
          {% for client in all_client_list %}
            <li>
              <input value="{{ client.0 }}" name="project" type="checkbox" value="" id="{{ client.0|md5 }}_id">
              <label for="{{ client.0|md5 }}_id">{{ client.0 }}</label>
            </li>
          {% endfor %}
        </ul>
        <a href="#" onclick="filterToggle()">Hide Filters</a>
        <input type="submit" value="Go" />
      </form>
    </div>
    <div id="by_client_chart_div"></div>
    <div id="billable_chart_div"></div>
{% endblock %}
